<!-- wp:woocommerce/coming-soon {"storeOnly":true,"className":"woocommerce-coming-soon-store-only"} -->
<div class="wp-block-woocommerce-coming-soon woocommerce-coming-soon-store-only"><!-- wp:template-part {"slug":"header","theme":"ecommerce-theme","tagName":"header"} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","orientation":"vertical"}} -->
    <div class="wp-block-group"><!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"100px","selfStretch":"fixed"}}} -->
    <div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"border":{"width":"2px"}},"backgroundColor":"primary","textColor":"white","fontFamily":"Bangers"} -->
    <h1 class="wp-block-heading has-text-align-center has-white-color has-primary-background-color has-text-color has-background has-link-color has-bangers-font-family" style="border-width:2px">Don't worry, it's coming soon!</h1>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"10px","selfStretch":"fixed"}}} -->
    <div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:paragraph {"align":"center","fontFamily":"cairo"} -->
    <p class="has-text-align-center has-cairo-font-family">We'll be bringing something special real soon! Sit tight and go check out our other stuff in the meantime.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"100px","selfStretch":"fixed"}}} -->
    <div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ecommerce-theme","tagName":"footer"} /--></div>
    <!-- /wp:woocommerce/coming-soon -->