<!-- wp:template-part {"slug":"header","theme":"ecommerce-theme"} /-->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px"}}},"layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group" style="padding-top:80px"><!-- wp:group {"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","textAlign":"left","className":"post-category","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"backgroundColor":"primary","textColor":"white","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|xxs","bottom":"0"},"padding":{"top":"0","bottom":"0"}}}} /-->

<!-- wp:group {"className":"article-card-meta-info","style":{"spacing":{"margin":{"top":"var:preset|spacing|xxs","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group article-card-meta-info" style="margin-top:var(--wp--preset--spacing--xxs);margin-bottom:0"><!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-highlight"}},"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"xs-small"} /-->

<!-- wp:post-date {"className":"article-date","fontSize":"xs-small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"height":"500px","align":"center"} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"75%","style":{"spacing":{"padding":{"right":"var:preset|spacing|xl","left":"0"},"blockGap":"0"}}} -->
<div class="wp-block-column" style="padding-right:var(--wp--preset--spacing--xl);padding-left:0;flex-basis:75%"><!-- wp:post-content /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":22,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-highlight"}}}}}} /-->

<!-- wp:post-title {"level":3,"isLink":true,"className":"link-secondary-accent","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|tertiary-highlight"}}}}}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0rem"}}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:0rem"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Share On:</strong></p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<ul class="wp-block-social-links" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"><!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"bluesky"} /-->

<!-- wp:social-link {"url":"#","service":"tiktok"} /-->

<!-- wp:social-link {"url":"#","service":"google"} /-->

<!-- wp:social-link {"service":"chain"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"120px"} -->
<div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"ecommerce-theme"} /-->